.home{
  color: white;
}

.home-background{
  background: #18181b;
  height: 90vh;
}

.movie{
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 6rem;
}

.content-title{
  padding-top: 15vh;
}

.text{
  transition: all ease-in-out 1s;
  padding-bottom: 1rem;
}

.text:hover{
  background: rgba(0, 0, 0, 0.2);
}

.scores{
  display: flex;
  align-items: center;
  color: white;
  opacity: 0.8;
  margin-top: 0.5rem;
}

.title-1{
  font-size: 3rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.name{
  background: yellow;
  color: black;
  font-weight: 800;
  letter-spacing: -0.8px;
  border-radius: 1.5px;
  margin-right: 1rem;
  padding: 0.05rem 0.2rem;
}

.percentage{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 3rem;
}

.description-1{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 1.1rem;
  margin-top: 1.5rem;
  transition: all ease-in-out 1s;
}

.description-1:hover{
  transform: scaleY(1.5);
}

.trailer-button{
  background: #BE123C;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
}

.movies{
  color: black;
  z-index: 1000;
  padding: 0 6rem;
  margin-top: -30vh;
}

.featured{
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.see-more{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #f3f2f2;
  color: #BE123C;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px 5px 10px 5px;
  cursor: pointer;
  padding: 0 0.3rem 0.3rem;
}

.see-more:hover{
  opacity: 0.85;
}

.see-more > img{
  margin: 0.3rem 0 0 0;
}

.movies-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.error{
  display: flex;
  justify-content: center;
  color: #f73636;
  font-size: 1.2rem;
  margin: 3rem 0;
}

@media (max-width: 1200px){
  .movie{
    width: 70%;
    padding: 0 3rem;
  }

  .movies{
    padding: 3rem;
  }
}

@media (max-width: 768px){
  .movie{
    padding: 0 2rem;
  }

  .movies{
    padding: 2rem;
  }
}

@media (max-width: 450px){
  .movie{
    padding: 0 1.5rem;
  }

  .movies{
    padding: 1.5rem;
  }
}

@media (max-width: 250px){
  .movies-header{
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
}