.search{
  position: relative;
  padding: 6rem;
}

.spin{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result{
  position: absolute;
  top: 0;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem 0;
}

.spinner{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 3.5rem;
  width: 3.5rem;
  border: 5px solid;
  border-color: #172554 transparent #3b82f6 transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
}

@keyframes spin{
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px){
  .search{
    padding: 3rem;
  }

  .spinner{
    height: 2.5rem;
    width: 2.5rem;
  }

  .result{
    margin-top: 0.5rem;
  }
}

@media (max-width: 450px){
  .search{
    padding: 2.5rem;
  }

  .result{
    font-size: 1.2rem;
    margin-top: 0;
  }
}